.container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1rem);
}

#logout {
  position: fixed;
  top: 2rem;
  right: 2rem;

  background: #ea3232;
  color: whitesmoke;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
}

button:hover {
  border-radius: 1rem;
  opacity: 0.8;
  cursor: pointer;
}

.playerDetailed {
  width: 20rem;
  background: #2e2f2f;
  color: whitesmoke;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
}

.playerDetailed .cover {
  width: 100%;
  height: 20rem;
}

.cover img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.playerDetailed .detailed {
  width: 100%;
  padding: 1rem 0;
}

.controller {
  width: 20rem;
  padding: 1rem;
  background: #2e2f2f;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

/* Tab Controller */
.controller #tab {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
}

.controller #tab button {
  width: 100%;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  margin: 0;

  font-size: 15px;
}

/* Control Controller */
.controller #control-controller button {
  font-size: 24px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-family: 'Noto Emoji', sans-serif;
}

.controller #control-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.controller #control-controller .detailed {
  width: 100%;
}

.controller #control-controller .detailed h2,
.controller #control-controller .detailed h4,
.controller #control-controller .detailed div {
  margin: 0;
  padding: 0.2rem;
  color: whitesmoke;
}

.controller #control-controller .detailed input#durationBar {
  width: 100%;
}

.controller #control-controller .volume {
  width: 20rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.controller #control-controller .volume * {
  font-size: 20px;
}

.controller #control-controller .volume button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-family: 'Noto Emoji', sans-serif;
}

.controller #control-controller .volume span {
  margin: 0 0.5rem;
  color: whitesmoke;
}